*{
	text-decoration: none;  
}

.navbar{
	background: lemonchiffon;
	font-family: calibri;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 40px;
	margin: 10px;
}

.navdiv{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo a{
	font-size: 30px;
	font-family: monospace;
	font-weight: 600;
	color: sienna;
}

.dropdown{
	display: inline-block;
	font-family: calibri;
	font-size: 18px;
}

.dropdown button{
	background-color: mediumorchid;
	color: white;
	font-weight: bold;
	margin-right: 10px;
	border-radius: 10px;
	padding: 10px;
	width: 90px;}

.dropdown a{
	display: block;
	color: white;
}

.dropdown .content{
	display: none;
	position: absolute;
	background-color: mediumorchid;
	padding: 5px;
	align-items: center;
	box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
	width: 100px;
}

.dropdown:hover .content{
	display: block;
}

.dropdown button:hover{
	background-color: darkorchid;
}

.dropdown a:hover{
	background-color: darkorchid;
}

.navbar li{
	list-style: none;
	display: inline-block;
}

.navbar li a{
	color: peru;
	font-size: 18px;
	font-weight: bold;
	margin-right: 25px;
}

.navbar li a:hover{
	color: saddlebrown;
}

.navbar button{
	background-color: deepskyblue;
	margin-left: 10px;
	border-radius: 10px;
	padding: 10px;
	width: 90px;
}

.navbar button a{
	color: white;
	font-weight: bold;
	font-size: 15px;
}

.navbar button:hover{
	background-color: dodgerblue;
}